<div class="h-full flex flex-row justify-center items-center pb-5" data-controller="carousel">
  <button data-action="click->carousel#previous" type="button" class="flex items-center justify-center cursor-pointer group focus:outline-none" data-carousel-prev>
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-green-500 group-hover:bg-green-700">
      <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
      </svg>
    </span>
  </button>
  <% photos.each_with_index do |photo, idx| %>
    <div data-carousel-target="image" class="w-fit h-full flex justify-center items-center <%= idx > 0 ? "hidden" : nil %>">
      <%= link_to url_for(photo.blob), class: "scale-75 px-12" do %>
        <%= image_tag photo.blob.variant(resize_to_limit: [500, 500]), size: 500 %>
      <% end %>
    </div>
  <% end %>
  <button data-action="click->carousel#next" type="button" class="flex items-center justify-center cursor-pointer group focus:outline-none" data-carousel-next>
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-green-500 group-hover:bg-green-700">
      <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
      </svg>
    </span>
  </button>
</div>
