<div class="block max-w-sm h-48 p-4 bg-white border border-gray-200 rounded-lg shadow">
  <div class="flex justify-center items-center h-full">
    <%= link_to "➕ New Fact", new_fact_path(params: {species_id: species.id}), class: "font-bold rounded duration-150 bg-green-500 text-white hover:bg-green-700 py-2 pl-2 pr-4" %>
  </div>
</div>
