<div class="px-2 pt-2">
  <a href="#" class="block max-w-sm h-36 p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
    <p class="line-clamp-3 font-normal text-gray-700"><%= fact.fact %></p>
  </a>
</div>
