<div class="w-full h-screen flex flex-col justify-center items-center">
  <%= image_tag "logo.png", class: "w-24 h-24 mb-5" %>
  <%= button_to "Login", "/auth/auth0", method: :post, data: { turbo: false }, class: "font-bold rounded duration-150 bg-green-500 text-white hover:bg-green-700 py-2 px-4" %>
</div>
